/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 10, 2014, 8:58:53 PM
    Author     : eigil
*/

* {
	border-style: hidden;
	background-image: none;
	background-color: darkseagreen;
}

.button {
	border-style: hidden;
	background-image: none;
	transition: 300ms ease-in-out;
}

.button:hover {
	border-style: hidden;
	background-image: none;
	transition: 300ms ease-in-out;
	background-color: seagreen;
}

.button:active {
	border-style: hidden;
	background-image: none;
	transition: 300ms ease-in-out;
	background-color: green;
}
