/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 10, 2014, 8:58:53 PM
    Author     : eigil
*/


* {
	border-image: none;
	border-radius: 0;
	border-width: 1px;
	background-image: none;
	background-color: white;
	transition: 200ms ease-in-out;
}

.button {
	background-image: -gtk-gradient(linear, left top, left bottom,
		from (shade(shade(@button_bg_color, 1.02), 1.05)),
		to (shade(shade(@button_bg_color, 1.02), 0.97)));
	border-color: shade(shade(@button_bg_color, 1.02), 0.8);
	border-radius: 2px;
	border-style: solid;
	margin: 2px;
}

.button:active,
.button:active:hover {
	background-image: -gtk-gradient(linear, left top, left bottom,
		from (shade(shade(@button_bg_color, 0.85), 1.05)),
		to (shade(shade(@button_bg_color, 0.85), 0.97)));
	border-color: shade(shade(@button_bg_color, 0.85), 0.8);
}

.button:hover {
	background-image: -gtk-gradient(linear, left top, left bottom,
		from (shade(shade(@button_bg_color, 1.07), 1.05)),
		to (shade(shade(@button_bg_color, 1.07), 0.97)));
	border-color: shade(shade(@button_bg_color, 1.07), 0.8);
}

@define-color button_bg_color #c0faf0;
